div.Tree {
  position: absolute;
  z-index: 10;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Tree img {
  height: 60vh;
  position: fixed;
  bottom: -15vh;
}
